@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


<div class="container-fluid">
    <div class="row">
        <div class=" col-xl-10 col-lg-8 col-md-8 col-sm-12 col-12 " id="laptopsContainer">

            @{Html.RenderPartial("LaptopsPartial", new ViewDataDictionary(ViewData));}

        </div>

        <div class="col-xl-2 col-lg-4 col-md-4 col-sm-12 col-12 mt-5">
            <div class="product-sidebar">
                <div class="product-sidebar-widget">
                    <h4 class="mb-0">Filters</h4>
                </div>
                <div class="product-sidebar-widget">
                    <h4 class="product-sidebar-widget-title">Category</h4>
                    @foreach (var item in ViewBag.Types)
                    {
                        <div class="custom-control custom-checkbox">
                            <input data-type="type" type="checkbox" onclick="setFilter(this)" class="custom-control-input" value="@item" id="@item">
                            <label class="custom-control-label" for="@item">@item</label>
                        </div>
                    }
                </div>
                <div class="product-sidebar-widget">
                    <h4 class="product-sidebar-widget-title">RAM</h4>
                    @for (var i = 1; i <= 5; i++)
                    {

                        <div class="custom-control custom-checkbox">
                            <input data-type="ram" type="checkbox" onclick="setFilter(this)" class="custom-control-input" value="@Math.Pow(2, i)" id="size-@i">
                            <label class="custom-control-label" for="size-@i">@Math.Pow(2, i)</label>
                        </div>
                    }

                </div>
                <div class="product-sidebar-widget">
                    <h4 class="product-sidebar-widget-title">Brand</h4>
                    @foreach (var item in ViewBag.Developers)
                    {
                        <div class="custom-control custom-checkbox">
                            <input data-type="developer" onclick="setFilter(this)" type="checkbox" class="custom-control-input" value="@item" id="@item">
                            <label class="custom-control-label" for="@item">@item</label>
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
</div>

